<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>
        Audio Collector
    </title>
    <link rel="icon" href="../static/image/xiaohui.jpg"/>

    <script type="text/javascript" src="../static/js/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" src="../static/js/init.js"></script>
    <script type="text/javascript" src="../static/js/materialize.min.js"></script>

    <link type="text/css" href="../static/css/materialize.min.css" rel="stylesheet" media="screen,projection"/>
    <link type="text/css" href="../static/css/style.css" rel="stylesheet" media="screen,projection"/>

    {% block package %}
    {% endblock %}
</head>
<body>
  <nav class="teal lighten-3" role="navigation">
    <div class="nav-wrapper container">
        <!-- logo -->
      <a href="{% url 'collector:index' %}" id="logo-container" class="brand-logo">DSP</a>

        <!-- links -->
      <ul class="right hide-on-med-and-down">
          <li><a href="{% url 'admin:index' %}"><i class="material-icons">security</i></a></li>
          {% if user.is_authenticated %}
            <li><a href="{% url 'collector:signout' %}"><i class="material-icons">close</i></a></li>
          {% else %}
            <li><a href="{% url 'collector:signup' %}"><i class="material-icons">person_add</i></a></li>
            <li><a href="{% url 'collector:signin' %}"><i class="material-icons">person_outline</i></a></li>
          {% endif %}
          <li><a href="{% url 'collector:recorder' %}"><i class="material-icons">keyboard_voice</i></a></li>
      </ul>


        <!-- sidenav links -->
      <ul id="nav-mobile" class="sidenav">
          <li><a href="{% url 'admin:index' %}"><i class="material-icons">security</i>Admin</a></li>
                {% if user.is_authenticated %}
            <li><a href="{% url 'collector:signout' %}"><i class="material-icons">close</i>Sign Out</a></li>
          {% else %}
            <li><a href="{% url 'collector:signup' %}"><i class="material-icons">person_add</i>Sign Up</a></li>
            <li><a href="{% url 'collector:signin' %}"><i class="material-icons">person_outline</i>Sign In</a></li>
          {% endif %}
          <li><a href="{% url 'collector:recorder' %}"><i class="material-icons">keyboard_voice</i>Recorder</a></li>
      </ul>

        <!-- sidenav menu button -->
      <a href="" data-target="nav-mobile" class="sidenav-trigger right">
          <i class="material-icons">menu</i>
      </a>
    </div>
  </nav>

    {% block content %}
    {% endblock %}
</body>
</html>